<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8"><br/>
					<h3>
						TURMA: 
						<span th:text="*{turma.nomeTurma}"></span> - <span th:text="*{turma.turno}"></span> - 
						 <span th:text="*{turma.anoLetivo}"></span>
					</h3>
						
					</div>

					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/turmas}"> <i
								class="fa fa-table"></i> <span class="hidden-xs hidden-sm">Lista
									Turmas</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" class="form-vertical  js-form-loading"
				th:object="${turma}" th:action="@{/turmas/edicao}">
				<input type="hidden" th:field="*{id}" />
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i> <span
							th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
						  <li class="active"><a data-toggle="tab" href="#home">ALUNOS MATRICULADOS</a></li>
						</ul>
						
						<div class="tab-content">
						  <div id="home" class="tab-pane fade in active">
						  	</br>
						    <p>Não há alunos matriculados nessa turma</p>
						  </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
